.footer{
    color: rgb(100, 15, 15);
    padding: 25px;
    background: #e4d4d4; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #9cd3f3,
      #10a2f7
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #9cd3f3, #10a2f7);
  }
  
  .footer b{
    text-decoration: none;
    color: rgb(209, 21, 21);
    padding: 10px;
  }
  
  .footer b:hover{
    color: #f121e7;
    cursor: pointer;
    
  }
    