@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,200&family=Montserrat:wght@300;400;800&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,400;1,300&display=swap');



.prohr{
    flex: 1;
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    cursor: pointer;
}